body{
  background:green;
}
.maindiv{
  background:pink;
  margin: 10%;
  border-radius: 50px;
  display:flex;
  justify-content: space-around;
  width:80%;
}
.static,.dynamic{
  background:skyblue;
  border-radius: 3%;
  margin: 2%;
  box-shadow: 6px 6px 6px 6px;
  text-align: center;
}
img{
  margin: 2%;
  height:30%;
  width:100%;
}
@media screen and (min-width:320px) and (max-width:480px) {
  body{
    background:green;
  }
  .maindiv{
    background: aqua;
    border-radius: 3%;
    display: inline-block;
  }
  .static,.dynamic{
    background:red;
    border-radius: 3%;
    margin: 0%;
    box-shadow: 6px 6px 6px 6px;
    text-align: center;
  }
  img{
    margin: 2%;
    height:45%%;
    width:70%;
  }
}
@media screen and (min-width:750px) and (max-width:1000px) {
  body{
    background:blue;
  }
  .maindiv{
    background:yellow;
    margin:0%;
    border-radius: 3%;
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 100%;
  }
.static,.dynamic{
  background:skyblue;
  border-radius: 3%;
  margin: 0%;
  box-shadow: 6px 6px 6px 6px;
  text-align: center;
}
img{
  margin: 2%;
  height:45%%;
  width:70%;
}
}
